@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<label><i class="bi bi-paperclip">Attach files</i></label>
<button onclick="ClickAttachFile()"><i class="bg-info bi-plus"></i></button>
<input type="file" onchange="SelectTaskFile(event)"
    id="TaskFile" multiple style="display:none"/>

<div data-bind="foreach: attachedFiles">
    <div>
        <div class="fw-bold" style="cursor:pointer" 
            data-bind="text:title, hidden: editMode, click: ClickTitleAttachedFile">
        </div>
        
        <div data-bind="visible:editMode, event: {focusout: HandleFocusoutAttachedFile}">
            <input name="txtTitleAttachedFile" type="text" class="form-control"
            data-bind="value: title, attr:{'data-id':id}"/>
        </div>
        
        <div>
            Added <span data-bind="text: published"></span> - 
            <span class="fw-bold" style="cursor: pointer">Delete</span> - 
            <span class="fw-bold" style="cursor:pointer">Donwload</span>
        </div>
    </div>
</div>