@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<label><i class="bi bi-check-square">Task steps</i></label>
<button class="btn btn-secondarybtn-sm" onclick="AddStepHandle()">
    <i class="bi bi-plus"></i>
</button>

<div data-bind="foreach:steps">
    <div class="mt-2">
        <div class="row">
            <div class="col-1">
                <input type="checkbox" class="form-check-input" name="chbStep" data-bind="{checked:done}"/>
            </div>
            <div class="col-11">
                <span data-bind="text:description, hidden: editMode"></span>
                <textarea name="txtStepDescription" class="form-control" placeholder="Add description" data-bind="value:description, visible: editMode"></textarea>
                <div class="mt-2" data-bind="value:description, visible: editMode">
                    <button class="btn btn-primary" data-bind="{click: SaveStep}">Save</button>
                    <button class="btn btn-secondary" data-bind="{click: CancelStep}">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>